{% extends "admin_base.html" %}

{% block content %}



<div class="admin-upload-container2">

    <a  href="{{ url_for('admin_project_upload_page') }}">
            
        <button class="back_upload_btn">Back To Project Upload Menu</button>
    </a>

    <a  href="{{ url_for('admin_edit_current' , project_id=request.args.get('project_id')) }}">
        <button class="edit_btn">Make Edits in Topic</button>
    </a>

{% for bad_question in project_correct %}

<div class="admin-upload-container">
    <p class="h3" style="color:blue; margin-bottom:5%;"> {{ bad_question.question }}</p>
    <a  href="{{ url_for('admin_project_upload_page') }}">
       
        <button class="btn">Edit</button>
    </a>
        
    <a  href="{{ url_for('admin_delete_single_q' , bad_id=bad_question.id, project_id=request.args.get('project_id')) }}">
        <button class="btn">Delete</button>
    </a>

</div>
{% endfor %}

{% endblock content %}

