{% extends "admin_base.html" %}

{% block content %}



<div class="admin-upload-container2">

    <a  href="{{ url_for('admin_project_upload_page') }}">
            
        <button class="back_upload_btn">Back To Project Upload Menu</button>
    </a>

    <br/> <br/>
<section class="students-management">
    <h2>Uploaded Projects</h2>
    <table class="students-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Status</th>
                <th>Deadline</th>
                <th> </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for question in uploaded_project %}
            <tr>
                <td>{{ question.project_title }}</td>
                <td>{{ question.course_enrolled }}</td>
                <td>{{ question.public }}</td>
                <td>{{ question.deadline }}</td>
                <td>
                   <a href="{{ url_for('admin_edit_current',  project_id=question.project_id) }}">
                        <button class="btn">Open</button>
                    </a>
                </td>

                <td>
                    <a href="{{ url_for('make_public',  project_id=question.project_id) }}">
                         <button class="btn">Public</button>
                     </a>
                 </td>

                 <td>
                    <a href="{{ url_for('cease_public',  project_id=question.project_id) }}">
                         <button class="btn">Roll Back</button>
                     </a>
                 </td>

                <td>
                    <a href="{{ url_for('admin_delete_full', project_id=question.project_id) }}">
                        <button class="btn" style="background-color: red;">Delete</button>
                    </a>
                </td>
            </tr>

            {% endfor %}
            
        </tbody>
    </table>
</section>

{% endblock content %}

